body {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

/* :root{
  --primary: #118c4f;
  --background: #f5f8ff;
} */

.a-brand{
 position: relative;
 left: 10%;
}

.ul-nav{
  padding-left: 60%;
}

.head-sec{
  background-color: #f5f8ff;
 min-height: 100vh;
  max-width: 210vh;
  overflow-x: hidden;
}

.head-div{
  position: absolute;
  left: 5%;
  top: 40%;
}

.head-div h1{
 max-width: 70%;
}

.head-div1{
  position: absolute;
  left: 40%;
  top: 30%;
}

.head-div1 img{
  height: 100%;
  width: 100%;
}

.co-sec{
  margin-top: 10%;
  overflow-x: hidden;
}

.co-h1{
  font-family: 'Bebas Neue', cursive; 
  font-size: 50px;
  
}

.co-div{
  position: absolute;
  top: 150%;
  left: 1%;
}

.co-img{
  max-width: 30%;
  min-height: 30%;
  position: relative;
  left: 35%;
}

.reg-sec{
  background-color: #f5f8ff;
 min-height: 100vh;
 max-width: 213vh;
  margin-top: 10%;
  overflow-x: hidden;
}

.reg-div{
  position: relative;
  left: 30%;
}

.reg-div img{
  max-width: 50%;
  min-height: 50%;
}

.cur-sec{
  font-family: 'Bebas Neue', cursive;
  margin-top: 10%;
  overflow-x: hidden;
}

.red{
  color: red;
}

.green{
  color: green;
}

.card{
  transition: all .5s ease-in;
}

.card:hover{
  transform: translateY(-10px);
  box-shadow: 5px 5px;
}

.bit-div1{
  font-family: 'Bebas Neue', cursive;
}

.bit-div1 h1{
  font-size: 80px;
}

 /* media query for less than 600 screen size */

@media only screen and (max-width: 600px){
  .co-h1{
    width: 50%;
    padding-bottom: 30%;
  }
  .head-div1{
    padding-top: 30%;
  }
  .table{
    display: block;
  }
  .card{
    display: block;
  }
}